# Виняток для базової конфігурації
wp-config.php

# Всі файли ядра WordPress (оновлюються через панель адміністрування)
wp-admin/
wp-includes/

# Тимчасові файли і кеш
*.log
*.sql
*.tar.gz
*.zip
wp-content/cache/
wp-content/uploads/backups/
wp-content/upgrade/
wp-content/uploads/cache/
wp-content/uploads/*.tmp
debug.log

# Плагіни, встановлені через адмінку
wp-content/plugins/
!wp-content/plugins/real-estate-plugin/

# Теми, встановлені через адмінку
wp-content/themes/
!wp-content/themes/understrap-child-main/

# Інші сторонні файли
node_modules/
vendor/

# Системні файли
.DS_Store
Thumbs.db
.idea/
.vscode/
.env
