# Виняток для базової конфігурації
wp-config.php

# Файли ядра WordPress (оновлюються через панель адміністрування)
wp-admin/
wp-includes/

# Тимчасові файли і кеш
*.log
*.sql
*.tar.gz
*.zip
wp-content/cache/
wp-content/uploads/backups/
wp-content/upgrade/
wp-content/uploads/cache/
wp-content/uploads/*.tmp
debug.log

# Плагіни, встановлені через адмінку
wp-content/plugins/
!wp-content/plugins/real-estate-plugin/ # Зберігаємо кастомний плагін

# Теми, встановлені через адмінку
wp-content/themes/
!wp-content/themes/understrap-child-main/ # Зберігаємо кастомну тему

# Винятки для кастомної теми (нова структура)
wp-content/themes/understrap-child-main/node_modules/
wp-content/themes/understrap-child-main/assets/css/*.css
wp-content/themes/understrap-child-main/assets/css/*.css.map
!wp-content/themes/understrap-child-main/assets/css/style.min.css # Мініфікований CSS дозволено пушити
!wp-content/themes/understrap-child-main/assets/

wp-content/themes/understrap-child-main/assets/js/*.min.js # Ігноруємо зкомпільовані JS
wp-content/themes/understrap-child-main/assets/images/tmp/ # Ігнор тимчасових зображень, якщо є

# Інші сторонні файли та папки
node_modules/
vendor/

# Системні файли
.DS_Store
Thumbs.db
.idea/
.vscode/
.env
